
.navigation {
  background-color: #911818;
  padding: 20px 0;
  text-align: center;
}


.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}


.nav-links li {
  display: inline;
  margin-right: 20px;
}


.nav-links a {
  text-decoration: none;
  color: rgb(44, 118, 62);
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #555;
}


@media (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin-bottom: 10px;
  }
}
